$mainCls: 'tt';

$mainColor: #008A3F;
$whiteColor: #fff;
$blackColor: #000;
$greyColor: #999999;

$heightNavigationBar: 50px;

:root {
  --light-body-background-color: #e9ebed;
  --light-text-color: #141415;
  --avatar-background-gradient-04: linear-gradient(45deg, #34b764 0%, #99e5b5 100%);
  --avatar-text-color: #ffffff;
  --light-avatar-border: #ffffff;
  --light-avatar-story-contour-color: linear-gradient(45deg, #006af5 0%, #5fcbf2 100%);
  --light-avatar-status-online: #34b764;
  --light-avatar-status-background: #ffffff;
  --light-color-primary: #006af5;
  --dark-color-primary: #006af5;
  --light-color-on-primary: #ffffff;
  --dark-color-on-primary: #ffffff;
  --dark-text-color: #f4f5f6;
  --avatar-background-gradient-01: linear-gradient(45deg, #006af5 0%, #8fc1ff 100%);
  --avatar-background-gradient-02: linear-gradient(45deg, #6a40bf 0%, #52a0ff 100%);
  --avatar-background-gradient-03: linear-gradient(45deg, #12aee2 0%, #66d68f 100%);
  --mask-overlay-color: #000000b3;
  --light-avatar-status-blocked: #dc1f18;
  --light-avatar-uploading: linear-gradient(90deg, rgba(95, 203, 242, 0) 0%, #006af5 100%);
  --light-avatar-story-seen: #d6d9dc;
  --light-avatar-counter-background: #e9ebed;
  --light-bottom-navigation-color: #767a7f;
  --light-bottom-navigation-active-color: #006af5;
  --light-bottom-navigation-divider-color: #e9ebed;
  --light-bottom-navigation-background-color: #ffffff;
  --light-button-primary-background: var(--light-color-primary);
  --light-button-primary-background-pressed: #0250b6;
  --light-button-primary-text: var(--light-color-on-primary);
  --light-button-primary-icon: var(--light-color-on-primary);
  --light-button-primary-danger-background: #dc1f18;
  --light-button-primary-danger-background-pressed: #a51712;
  --light-button-primary-danger-text: #ffffff;
  --light-button-secondary-background: #d6e9ff;
  --light-button-secondary-background-pressed: #b8d9ff;
  --light-button-secondary-text: #006af5;
  --light-button-secondary-icon: #006af5;
  --light-button-secondary-danger-background: #fed8d7;
  --light-button-secondary-danger-background-pressed: #fcbdba;
  --light-button-secondary-danger-text: #dc1f18;
  --light-button-secondary-danger-icon: #dc1f18;
  --light-button-secondary-neutral-background: #e9ebed;
  --light-button-secondary-neutral-background-pressed: #d6d9dc;
  --light-button-secondary-neutral-text: #141415;
  --light-button-secondary-neutral-icon: #141415;
  --light-button-tertiary-background-pressed: #ebf4ff;
  --light-button-tertiary-text: #006af5;
  --light-button-tertiary-icon: #006af5;
  --light-button-tertiary-danger-background-pressed: #ffebeb;
  --light-button-tertiary-danger-text: #dc1f18;
  --light-button-tertiary-danger-icon: #dc1f18;
  --light-button-tertiary-neutral-background-pressed: #e9ebed;
  --light-button-tertiary-neutral-text: #141415;
  --light-button-tertiary-neutral-icon: #141415;
  --light-button-background-disabled: #d6d9dc;
  --light-button-text-disabled: #b9bdc1;
  --light-button-icon-disabled: #b9bdc1;
  --light-checkbox-border-color: #b9bdc1;
  --light-checkbox-uncheck-background: #ffffff;
  --light-checkbox-checked-background: #006af5;
  --light-checkbox-checked-mark-color: #ffffff;
  --light-checkbox-disabled-checked-background: #8fc1ff;
  --light-checkbox-disabled-checked-mark-color: #ffffffcc;
  --light-checkbox-disabled-uncheck-background: #d6d9dc;
  --light-checkbox-disabled-label: #b9bdc1;
  --light-header-color: #141415;
  --light-header-background-color: #ffffff;
  --light-header-divider: #e9ebed;
  --light-input-text-color: var(--light-text-color);
  --light-input-border-color: #b9bdc1;
  --light-input-hover-border-color: #006af5;
  --light-input-placeholder-color: #b9bdc1;
  --light-input-background-color: #ffffff;
  --light-input-helper-text-color: #767a7f;
  --light-input-helper-icon-background-color: #767a7f;
  --light-input-error-text-color: #dc1f18;
  --light-input-error-icon-background-color: #dc1f18;
  --light-input-clear-icon-color: #141415;
  --light-input-status-success-icon-focus-visible-color: #34b764;
  --light-input-status-success-icon-color: #34b764;
  --light-input-status-error: #dc1f18;
  --light-input-disabled-color: #767a7f;
  --light-input-disabled-background-color: #0000001a;
  --dark-input-text-color: var(--dark-text-color);
  --dark-input-border-color: #767a7f;
  --dark-input-hover-border-color: #006af5;
  --dark-input-placeholder-color: #53575a;
  --dark-input-background-color: #141415;
  --dark-input-helper-text-color: #8f9499;
  --dark-input-helper-icon-background-color: #8f9499;
  --dark-input-error-text-color: #dc1f18;
  --dark-input-error-icon-background-color: #dc1f18;
  --dark-input-clear-icon-color: #f4f5f6;
  --dark-input-status-success-icon-focus-visible-color: #f4f5f6;
  --dark-input-status-success-icon-color: #34b764;
  --dark-input-status-error: #dc1f18;
  --dark-input-disabled-color: #8f9499;
  --dark-input-disabled-background-color: #ffffff1a;
  --light-list-item-brackets-color: #767a7f;
  --light-list-item-subtitle-color: #767a7f;
  --light-list-item-icon-color: #767a7f;
  --light-list-item-icon-link-color: #006af5;
  --light-list-item-divider-color: #e9ebed;
  --light-modal-background: #ffffff;
  --light-modal-divider: #e9ebed;
  --light-picker-title-color: #141415;
  --light-picker-option-selected-color: #006af5;
  --light-picker-option-2nd-color: #767a7f;
  --light-picker-option-color: #b9bdc1;
  --light-picker-selected-background-color: #f4f5f6;
  --light-progress-completed: #006af5;
  --light-progress-background: #ffffff;
  --light-radio-border-color: #b9bdc1;
  --light-radio-uncheck-background: #ffffff;
  --light-radio-checked-background: #006af5;
  --light-radio-checked-mark-color: #ffffff;
  --light-radio-disabled-checked-background: #8fc1ff;
  --light-radio-disabled-checked-mark-color: #ffffffcc;
  --light-radio-disabled-uncheck-background: #d6d9dc;
  --light-radio-disabled-label: #b9bdc1;
  --light-option-selected-color: #006af5;
  --light-option-divider-color: #e9ebed;
  --light-option-color: #141415;
  --light-option-group-color: #767a7f;
  --light-pressed-bg-color: #e9ebed;
  --light-select-title-color: #141415;
  --light-close-btn-color: #141415;
  --light-option-color-disabled: #767a7f;
  --light-sheet-title: #141415;
  --light-sheet-divider: #e9ebed;
  --light-sheet-container: #ffffff;
  --light-sheet-handler: #e9ebed;
  --light-action-sheet-title: #767a7f;
  --light-action-sheet-divider: #e9ebed;
  --light-action-sheet-group-divider: #f4f5f6;
  --light-slider-track-bg-color: #d6d9dc;
  --light-slider-track-active-bg-color: #006af5;
  --light-slider-thumb-bg-color: #006af5;
  --light-slider-mark-bg-color: #d6d9dc;
  --light-slider-mark-filled-bg-color: #006af5;
  --light-slider-label-color: #767a7f;
  --light-slider-value-color: #141415;
  --light-slider-prefix-suffix-color: #767a7f;
  --light-snackbar-background: #252627;
  --light-snackbar-text-color: #ffffff;
  --light-snackbar-action-color: #52a0ff;
  --light-snackbar-default-icon-color: #767a7f;
  --light-snackbar-success-color: #34b764;
  --light-snackbar-info-color: #52a0ff;
  --light-snackbar-error-color: #dc1f18;
  --light-snackbar-warning-color: #e8ba02;
  --light-snackbar-download-color: #767a7f;
  --light-snackbar-disconnect-color: #767a7f;
  --light-snackbar-connect-color: #34b764;
  --light-snackbar-progress-color: #52a0ff;
  --light-countdown-bg-color: #ffffff;
  --light-countdown-progress-color: #52a0ff;
  --light-countdown-counter-color: #ffffff;
  --light-spinner-border-color: #d6d9dc;
  --light-spinner-dot-color: #006af5;
  --light-switch-bg-color: #006af5;
  --light-switch-disabled-bg-color: #8fc1ff;
  --light-switch-off-bg-color: #b9bdc1;
  --light-switch-off-disabled-bg-color: #d6d9dc;
  --light-switch-handler-bg-color: #ffffff;
  --light-switch-handler-disabled-bg-color: #ffffff;
  --light-switch-label-color: #141415;
  --light-switch-label-disabled-color: #b9bdc1;
  --light-tabbar-divider: #e9ebed;
  --light-tabbar-background: #ffffff;
  --light-tabbar-label: #767a7f;
  --light-tabbar-label-active: #141415;
  --light-tabbar-active-line: #006af5;
  --dark-body-background-color: #000000e6;
  --dark-avatar-border: #141415;
  --dark-avatar-status-background: #141415;
  --dark-avatar-status-online: #34b764;
  --dark-avatar-status-blocked: #dc1f18;
  --dark-avatar-story-contour-color: linear-gradient(45deg, #006af5 0%, #5fcbf2 100%);
  --dark-avatar-uploading: linear-gradient(90deg, rgba(95, 203, 242, 0) 0%, #006af5 100%);
  --dark-avatar-story-seen: #53575a;
  --dark-avatar-counter-background: #36383a;
  --dark-bottom-navigation-color: #8f9499;
  --dark-bottom-navigation-active-color: #52a0ff;
  --dark-bottom-navigation-divider-color: #36383a;
  --dark-bottom-navigation-background-color: #141415;
  --dark-button-primary-background: var(--dark-color-primary);
  --dark-button-primary-background-pressed: #0250b6;
  --dark-button-primary-text: var(--dark-color-on-primary);
  --dark-button-primary-icon: var(--dark-color-on-primary);
  --dark-button-primary-danger-background: #dc1f18;
  --dark-button-primary-danger-background-pressed: #a51712;
  --dark-button-primary-danger-text: #ffffff;
  --dark-button-primary-danger-icon: #ffffff;
  --dark-button-secondary-background: #03316d;
  --dark-button-secondary-background-pressed: #03244e;
  --dark-button-secondary-text: #8fc1ff;
  --dark-button-secondary-icon: #8fc1ff;
  --dark-button-secondary-danger-background: #650e0b;
  --dark-button-secondary-danger-background-pressed: #490a08;
  --dark-button-secondary-danger-text: #f89996;
  --dark-button-secondary-danger-icon: #f89996;
  --dark-button-secondary-neutral-background: #36383a;
  --dark-button-secondary-neutral-background-pressed: #252627;
  --dark-button-secondary-neutral-text: #ffffff;
  --dark-button-secondary-neutral-icon: #ffffff;
  --dark-button-tertiary-background-pressed: #03316d;
  --dark-button-tertiary-text: #52a0ff;
  --dark-button-tertiary-icon: #52a0ff;
  --dark-button-tertiary-danger-background-pressed: #650e0b;
  --dark-button-tertiary-danger-text: #f1645f;
  --dark-button-tertiary-danger-icon: #f1645f;
  --dark-button-tertiary-neutral-background-pressed: #36383a;
  --dark-button-tertiary-neutral-text: #ffffff;
  --dark-button-tertiary-neutral-icon: #ffffff;
  --dark-button-background-disabled: #36383a;
  --dark-button-text-disabled: #53575a;
  --dark-button-icon-disabled: #53575a;
  --dark-checkbox-border-color: #767a7f;
  --dark-checkbox-uncheck-background: #141415;
  --dark-checkbox-checked-background: #006af5;
  --dark-checkbox-checked-mark-color: #ffffff;
  --dark-checkbox-disabled-checked-background: #033e8c;
  --dark-checkbox-disabled-checked-mark-color: #ffffff99;
  --dark-checkbox-disabled-uncheck-background: #36383a;
  --dark-checkbox-disabled-label: #53575a;
  --dark-header-color: #f4f5f6;
  --dark-header-background-color: #141415;
  --dark-header-divider: #36383a;
  --dark-list-item-brackets-color: #8f9499;
  --dark-list-item-subtitle-color: #8f9499;
  --dark-list-item-icon-color: #767a7f;
  --dark-list-item-icon-link-color: #006af5;
  --dark-list-item-divider-color: #36383a;
  --dark-modal-background: #252627;
  --dark-modal-divider: #36383a;
  --dark-picker-title-color: #f4f5f6;
  --dark-picker-option-selected-color: #006af5;
  --dark-picker-option-2nd-color: #8f9499;
  --dark-picker-option-color: #53575a;
  --dark-picker-selected-background-color: #252627;
  --dark-progress-completed: #52a0ff;
  --dark-progress-background: #ffffff33;
  --dark-radio-border-color: #767a7f;
  --dark-radio-uncheck-background: #141415;
  --dark-radio-checked-background: #006af5;
  --dark-radio-checked-mark-color: #ffffff;
  --dark-radio-disabled-checked-background: #033e8c;
  --dark-radio-disabled-checked-mark-color: #ffffff99;
  --dark-radio-disabled-uncheck-background: #36383a;
  --dark-radio-disabled-label: #53575a;
  --dark-option-selected-color: #006af5;
  --dark-option-divider-color: #36383a;
  --dark-option-color: #f4f5f6;
  --dark-option-group-color: #8f9499;
  --dark-pressed-bg-color: #36383a;
  --dark-select-title-color: #f4f5f6;
  --dark-close-btn-color: #f4f5f6;
  --dark-option-color-disabled: #8f9499;
  --dark-sheet-title: #f4f5f6;
  --dark-sheet-divider: #36383a;
  --dark-sheet-container: #252627;
  --dark-sheet-handler: #36383a;
  --dark-action-sheet-title: #8f9499;
  --dark-action-sheet-divider: #36383a;
  --dark-action-sheet-group-divider: #000000;
  --dark-slider-track-bg-color: #d6d9dc;
  --dark-slider-track-active-bg-color: #006af5;
  --dark-slider-thumb-bg-color: #006af5;
  --dark-slider-mark-bg-color: #d6d9dc;
  --dark-slider-mark-filled-bg-color: #006af5;
  --dark-slider-label-color: #8f9499;
  --dark-slider-value-color: #f4f5f6;
  --dark-slider-prefix-suffix-color: #d6d9dc;
  --dark-snackbar-background: #53575a;
  --dark-snackbar-text-color: #ffffff;
  --dark-snackbar-action-color: #52a0ff;
  --dark-snackbar-default-icon-color: #8f9499;
  --dark-snackbar-success-color: #34b764;
  --dark-snackbar-info-color: #52a0ff;
  --dark-snackbar-error-color: #dc1f18;
  --dark-snackbar-warning-color: #e8ba02;
  --dark-snackbar-download-color: #8f9499;
  --dark-snackbar-disconnect-color: #8f9499;
  --dark-snackbar-connect-color: #34b764;
  --dark-countdown-bg-color: #ffffff;
  --dark-countdown-progress-color: #52a0ff;
  --dark-countdown-counter-color: #ffffff;
  --dark-snackbar-progress-color: #52a0ff;
  --dark-spinner-border-color: #d6d9dc;
  --dark-spinner-dot-color: #006af5;
  --dark-switch-bg-color: #006af5;
  --dark-switch-disabled-bg-color: #033e8c;
  --dark-switch-off-bg-color: #53575a;
  --dark-switch-off-disabled-bg-color: #36383a;
  --dark-switch-handler-bg-color: #ffffff;
  --dark-switch-handler-disabled-bg-color: #ffffff99;
  --dark-switch-label-color: #f4f5f6;
  --dark-switch-label-disabled-color: #53575a;
  --dark-tabbar-divider: #36383a;
  --dark-tabbar-background: #141415;
  --dark-tabbar-label: #8f9499;
  --dark-tabbar-label-active: #f4f5f6;
  --dark-tabbar-active-line: #006af5;
}